* {
    font-family: Roboto;
    font-weight: 400;
    color: #ffffff;
    box-sizing: border-box;
}

body {
    background-color: #374151;
    text-align: center;
}

header {
    width: 75%;
    margin: auto;
}

header a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: flex-start;
}
nav ul li:first-child {
    padding-left: 11px;
}

.item2 {
    padding-left: 77px;
}

.item3 {
    padding-left: 52px
}

.item4 {
    padding-left: 39px;
}

nav input[type="search"] {
    border-radius: 100px;
    height: 40px;
    max-width: 224px;
    background-color: rgba(31, 41, 55, 0.6);
    border: none;
    padding: 9px 0 12px 49px;
}

nav input[type="search"]::placeholder {
    font-size: 16px;
    font-weight: 400;
    opacity: 60%;
}

footer {
    font-size: 16px;
    line-height: 28px;
}

.flex-container {
    display: flex;
    #flex: 1;
    align-items: center;
}

.home-button {
    width: 35px;
    height: 35px;
    background-color: #4B5563;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

    box-shadow: 0 15px 30px 0 #00000026;

}

.search-style {
    position: relative;
}

.search-style img {
    position: absolute;
    left: 18px;
    top: 14px;
}

.mainTopic {
    font-size: 20px;
    line-height: 32px;
    width: 708px;
    margin: auto;
}

.topic {
    font-size: 16px;
    line-height: 30px;
    width: 708px;
    margin: auto;
}

.person-name {
    font-size: 16px;
    line-height: 28px;
    margin: 0;
}

.person-status {
    margin: 0;
    font-size: 14px;
    line-height: 28px;
    opacity: 60%;
}

.date-time {
    font-size: 14px;
    line-height: 16px;
    margin-top: 79px;
    margin-bottom: 14px;
    opacity: 60%;
    color: #fff;
}

.headline {
    font-size: 24px;
    line-height: 38px;
    margin: 0 0 30px;
    color: #ffffff;
}

.headline p {
    margin: 0;
}

.persInfo {
    display: flex;
    gap: 16px;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.persImg {
    width: 50px;
    height: 50px;

}

.persImg img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cover {
    max-width: 67vw;
    margin: auto;
}
.cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}